<form action="/ice_cream_shops/<%= @shop.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH"/>
  <p>Edit</p>
  <input type="text" name="shop[name]" value="<%= @shop.name %>"/><br/>
  <textarea name="shop[description]"><%= @shop.description %></textarea><br/>
  <input type='submit'/>
</form>
