<h1>Best Ice Cream Shops in Denver</h1>

<ul>
  <li><a href="/ice_cream_shops">Ice Cream Index</a></li>
  <li><a href="/ice_cream_shops/new">New Shops</a></li>
</ul>

<ul>
  <li><a href="/flavors">Flavor Index</a></li>
  <li><a href="/flavors/new">New Flavors</a></li>
</ul>

<img src="https://image.freepik.com/free-photo/ice-cream-cones-with-copy-space_23-2148268194.jpg" alt="">
